/* filepath: /D:/PROYECTOS REACT/PROYECTO CEIJA5_2025/proyectoCEIJA5/src/components/Input.css */
.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.input-container label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.input-container input,
.input-container select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 90%;    
}

.error-message {
    color: rgb(237, 231, 231);
    font-style: italic;
    font-size: 0.98rem;
    margin-top: 0.5rem;
}