/* Estilo del contenedor del formulario */

.inscripcion-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ocupa toda la altura de la pantalla */
  padding: 20px;
  background-color: #f9f9f9; /* Fondo claro */
  box-shadow: #334575;
  margin: 5px;
}

/* Estilos para el formulario */
.inscripcion-container form {
  margin: 10px;
  width: 90%;
  background-color: #999999; /* Fondo blanco */
  padding: 10px;
  border-radius: 10px;
 
}

.inscripcion-container .formd {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
}

/* Estilos para el título */
.inscripcion-container h2 {
  color: #333; /* Color del texto */
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}
.form-datos, .form-domicilio,.form-eleccion {
  padding: 20px;
  flex: 1; min-width: 300px; /* Mínimo ancho para buena responsividad */
}

.form-documentacion {
  width: 90%;
  margin-top: 10px;
  margin: 0 10% 10% 10%;
  display: flex;
  flex-direction:column;
  align-items: center; /* Centra el contenedor en la página */
  justify-content: center;
  background-color: #939396;
  border-radius: 10px;
  padding: 2%;
  box-shadow: 1px 3px #2f2f31;
}

.form-h3 span {
  display: block; /* Asegura que el span ocupe una nueva línea */
  font-size: 0.85em;
  font-style: italic;
  color: #555;
  margin-top: 5px;
}
.form-doc{
  width: 95%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center; /* Centra el contenedor en la página */
}
.titulo{
  display: flex; 
  width: 100%; /* Asegura que ocupe el ancho completo */
  flex-direction: column; /* Coloca los elementos en columna */
}
.titulo  .radioOptions{
  width: 26px;
  color:#222222;
}
/* Estilos para los grupos de formulario */ 
.form-group { 
  display: flex; flex-direction: column;
  margin-bottom: 15px;
  
}
 

/* Estilos para las etiquetas y entradas */
.form-group label {
  font-weight: bold; color: #333; margin-bottom: 5px;
}
.form-group input.buscar {
  padding: 10px; 
  font-size: 1rem;
  border: 1px solid #4e53e6;
  border-radius: 4px;
  width: 10%;
}
.form-group input {
  padding: 10px; 
  font-size: 1rem;
  border: 1px solid #4e53e6;
  border-radius: 4px;
  width: 100%;
}
.form-group input.modalidad {
  width:50%;
  border: 1px solid #4e53e6;
  border-radius: 4px;
  box-shadow: 1px 1px #0342ed;
  cursor: not-allowed;
  font-style:oblique 
}
.form-group input::placeholder{
  color:#222222;
font-style:oblique }

/* Estilos para centrar el botón */
button[type="submit"] {
  background-color: #2d4177; /* Azul vibrante del SVG */
  width: 60%;
  color: #ffffff; /* Blanco */
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Para que el botón ocupe toda la línea */
  margin: 20px auto 0; /* Centrado horizontal y separación del contenido */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

button[type="submit"]:hover {
  background-color: #143bba; /* Azul más oscuro al pasar el mouse */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
}

/* Ajustes responsivos */
@media (max-width: 768px) {
  .inscripcion-container form {
    padding: 10px;
  }
  .form-columns {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .inscripcion-container form {
    padding: 15px;
  }

  .form-columns {
    flex-direction: column;
  }

  .form-group input,
  .form-group select,
  .form-group button {
    padding: 10px;
    font-size: 0.9rem;
  }

  button[type="submit"] {
    font-size: 0.9rem;
    padding: 10px;
  }
}
