/* Contenedor para los botones alineados arriba a la derecha */

.button-container-right {
  position: absolute;
  top: 20px;
  right:20px;
  display: flex;
  flex-direction: row;
  gap: 0.75rem; /* Espaciado entre los botones */
  z-index: 10; /* Asegura que los botones estén encima de otros elementos */
}

/* Estilo para el botón de cerrar */
.cerrar-button {
  width: 30px; /* diámetro del círculo */
  height: 30px;
  /* alternativa moderna: aspect-ratio: 1; padding: .5rem; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7; /* tamaño del ícono */
  border: none; /* evita que el borde tape el fondo */
  border-radius: 50%;
  background: #2d4177;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cerrar-button:hover {
  background-color: #1565c0; /* Rojo más oscuro */
  transform: scale(1.05); /* Efecto de zoom */
}

/* Estilo para el botón de volver */
.volver-button {
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  padding: 6px 6px; /* Ajusta el tamaño del botón */
  font-size: 0.7; /* Texto más grande */
  border: none;
  border-radius: 5px;
  background-color: #1976d2; /* Azul */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.volver-button:hover {
  background-color: #1565c0; /* Azul más oscuro */
  transform: scale(1.05); /* Efecto de zoom */
}
