/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Contenedor del botón */
.button-container {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido al lado derecho */
  align-items: center; /* Centra el contenido verticalmente */
  width: 100%; /* Ocupa todo el ancho disponible */
}

/* Botón de volver */
.volver-button {
  display: flex;
  align-items: center; /* Centra el ícono verticalmente */
  justify-content: center; /* Centra el ícono horizontalmente */
  padding: 10px; /* Ajusta el tamaño del botón */
  background-color: #2d4177; /* Azul intermedio */
  color: #ffffff; /* Blanco */
  width: 50px; /* Ancho del botón */
  height: 40px; /* Altura del botón */
  border: none;
  border-radius: 8px;
  font-size: 1.2rem; /* Ajusta el tamaño del ícono */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: auto; /* Alinea el botón al lado derecho */
}

.volver-button:hover {
  background-color: #0342ed; /* Azul oscuro al pasar el mouse */
  transform: scale(1.05); /* Efecto de zoom */
}

.volver-button svg {
  font-size: 1rem; /* Tamaño del ícono */
}
